.card {
    margin: auto;
    margin-top: 300px;
    border-color: transparent;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 500px;
    padding: 50px;
}